:root {
    --box-shadow :0px 0px 5px 0px #a8a8a8;
}
* {
box-sizing: border-box;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header-logo-search {
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    align-items: center;
}
.header-menu ul {
    align-items: center;
    list-style-type: none;
    margin-bottom: 0 !important;
}
.header-menu ul li{
    display: flex;
    align-items: center;
padding: 23px 15px;
}
.header-menu ul li::after{
    content: '';
    display: inline-block;
    height: 12px;
    background-color: rgb(57, 57, 57);
    width: 1px;
    margin:0px 10px;
}

.header-menu ul a:hover {
    background-color: rgb(245, 245, 245);
}
.header-menu ul a {
    transition: .5s background-color;
}
a {
    text-decoration: none !important;
    color: black !important;
}
#user-img {
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 3px 0px 8px 0px rgb(190, 190, 190) , 
    -3px 0px 8px 3px rgb(255, 223, 223);
}
.user-profile {
    display: flex;
    align-items: center;
}
.user-profile::before {
    content: '';
    display: inline-block;
    height: 20px;
    background-color: rgb(37, 37, 37);
    width: 2px;
    margin:0px 10px;
}
.btns-header svg {
    padding: 0px 5px;
}

.search-header {
    cursor: pointer;
}


/* 

header

*/

@media (max-width:576px) {
    .header-menu {
        display: none;
    }

    .search-header {
        display: block;
    } 

 .header-user {
    display: inline-block;
    width: 50% !important;
 }
 .header-logo-search {
    width: 50% !important;
 }
 .user-profile::before {
    display: none;
 }
 .ham-menu {
    display: block !important;
 }
}
.ham-menu {
    cursor: pointer;
}

/* mobile nav */
.mobile-nav{
    z-index: 10000;
    transition: .5s all;
    height: 100%; width: 280px;
    background-color:#e1e1e1;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
}

.close-mobile-nav {
    height: 50px;
    border-bottom: 1px solid #000;
}
.close-nav-icon svg {
    margin-right: 20px;
}
.nav-content ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
}
.nav-content ul li {
    padding: 20px 0px 20px 20px;
border-bottom: 1px solid #989898;
box-shadow: var(--box-shadow);
    width: 100%;
    cursor: pointer;
    transition: .5s all;
    height: 70px;
}
.nav-content ul li:hover{
    background-color: #989898;
}
.close-mobile-nav-clos-icon {
    cursor: pointer;
}
#transparent-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}
.search-box-click {
    width: 100%;
    z-index: 10000;
    transition: .3s all;
    background: #ebebeb;
    height: 60%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    right: 0;
    left: 0;
}
#search-box-click-input:focus {
    outline: none;
}
#search-box-click-input {
    width: 100%;
    box-shadow: var(--box-shadow);
    border: none;
    text-align: center;
    height: 100px;
    font-size: 3rem;
}
.user-profile {
    position: relative;
    display: flex;
  }
  .dropdown-profile-content{
    display: none;
    transition: all 0.5s;
    position: absolute;
    height: auto;
    top: 46px;
    right: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: var(--box-shadow);
    z-index: 1;
  }
  .user-profile:hover .dropdown-profile-content {
    display: block;
    transition: .5s all;

  }
  .dropdown-profile-content ul {
    list-style-type: none;
    margin-bottom: 0rem !important;
    padding: 10px 0px !important;
  }
  .dropdown-profile-content ul li {
    padding: 10px 10px !important;
  }
  .dropdown-profile-content ul li:hover {
    background: #e1e1e1;
  }